body {
    background-image: url('Stupa_Borobudur.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
}


.justify {
    text-align: justify;
    width: 500px;
    height:400px;
    position: relative;
    margin: auto;
    background-image: url('avocado.jpg');
    background-size: 180px;
    border: rgb(235, 30, 30);
    border-style: solid;
    border-width: 2px;
    color: blue;
}

.repeat {
    width: 500px;
    height:400px;
    position: relative;
    margin: auto;
    background-image: url('avocado.jpg');
    background-size: 180px;
    background-repeat: repeat-x;
    border: rgb(235, 30, 30);
    border-style: solid;
    border-width: 2px;
    color: blue;
}